/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
footer {
    background-color: rgb(48, 61, 61);
    color:aliceblue
}

/* HOME*/
.jumbocont{
    height:auto;
    width: 100%;
    background-image: url(https://live.staticflickr.com/65535/47121358544_db6c5a0875_o.jpg);

}
.jumbotron{
    width: 75%;
}
.h1cont {
    width: 50%;
}
.jumbop {
    font-size: 2rem;
}

.hello {
    color: rgb(25, 109, 121);
    
    
}











/* REGISTRO*/

.registro {
    background-color: #999999;
}
.reglabel {
    font-weight: bold;
    
}

.regbtn {
    background-color: rgb(25, 109, 121) ;
    margin-left: 40%;
    width: 20rem;
    margin-bottom: 5rem;
}

.regform{
    margin-left: 20%;
    padding-top: 3rem;

    
}
.firstform {
    margin-top:20%;
    
}

/* PROFILE*/

body {
    

    background-color: rgb(184, 184, 184);
}

.userimg{
    border-radius: 10rem;
    margin-top: 7rem;
    
}







/* CIRCUIT PROFILE */

.circuitimg {
    padding: 5rem;
}
.circcard{
    margin-bottom: 3rem;
}

.circuitinfo {
    margin-top: 3rem;
    margin-right: 3rem;
    padding: 3rem;
    background-color: #dcdada;
    border-radius: 1rem;
}

.circuitcard {
    background-color: rgb(61, 139, 139);
    margin-bottom: 3rem;
}
.motocards {
    height: 5rem;
}

.motobut{
    background-color: #049e8a;
    margin-bottom: 3rem;
    width: 10rem;
}

/*CIRCUITCAR*/

.morebtn {
    margin-left: 75%;
    margin-bottom: 1rem;
}

.circuitcard{
    margin-left: 3rem;

    
}
.circcards{
    margin-left: 3%;
}





/* FOOTER*/

 