/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
footer {
    background-color: rgb(48, 61, 61);
    color:aliceblue
}

/* HOME*/
.jumbocont{
    height:auto;
    width: 100%;
    background-image: url(https://live.staticflickr.com/65535/47121358544_db6c5a0875_o.jpg);

}
.jumbotron{
    width: 75%;
}
.h1cont {
    width: 50%;
}
.jumbop {
    font-size: 2rem;
}

.hello {
    color: #00bfd8;
    
    
}


/* NAVBAR*/
.navbtn{
    color:#00bfd8;  
}
.usernamenavbtn{
    color:#00bfd8;
    margin-right: 10rem;
}





/*LOGIN*/
.login{
    background-image: url(https://img.motoryracing.com/noticias/portada/25000/25794-n.jpg);
    width: 100%;
    
}

.imputs{
    background-color: #ded6d6;
    width: 40%;
    padding: 2rem;
    border-radius: 1rem;
    margin-bottom: 3rem;
    border-style: solid;
    border-color: black;
}
.helpinline{
    color:#2d3f3d
    
}
.submitlog{
    background-color: #2d3f3d;
    width: 10rem;
    border-style: solid;
    border-color: black;
}






/* REGISTRO*/

.registro {
    background-color: rgb(255, 255, 255);
}
.reglabel {
    font-weight: bold;
    
}

.regbtn {
    background-color: #00bfd8 ;
    margin-left: 40%;
    width: 20rem;
    margin-bottom: 5rem;
}
.inputsign{
    border-color: rgb(51, 131, 141);
}

.regform{
    margin-left: 20%;
    padding-top: 3rem;

    
}
.firstform {
    margin-top:20%;
    
}

.signbtn{
    background-color: #31757c;
    width: 10rem;
    margin-left: 45%;
    margin-top: 3rem;
    border-color: #2d7c73;
}

/* PROFILE*/

body {
    

    background-color: rgb(255, 255, 255);
}

.username{
    color: #00bfd8;
    font-size: 3rem;
    

}
.userimg{
    border-radius: 1rem;
    margin-top: 7rem;
    
}
.editbtn{
    background-color: #00bfd8;
    width: 10rem;
    color: rgb(0, 0, 0);
}
.lastcard{
    border-style: solid;
    border-color: #2d3f3d;
}

.lastrounds{
    background-color: #00bfd8;
    color:rgb(48, 61, 61)
}
.repeatbtn {
    background-color: #00bfd8;
}







/* CIRCUIT PROFILE */

.circuitimg {
    padding: 5rem;
}
.circuitcard{
    margin-bottom: 3rem;
    background-color: #d1e6e9;
}

.cardcirc{
    background-color: #c3f7f9;
    margin: 2rem;
}

.circuitinfo {
    margin-top: 3rem;
    margin-right: 3rem;
    padding: 3rem;
    background-color: #dcdada;
    border-radius: 1rem;
}

.circuitcard {
    background-color: #00bfd8;
    margin-bottom: 3rem;
}
.motocards {
    height: 5rem;
}

.motobut{
    background-color: #00bfd8;
    margin-bottom: 3rem;
    width: 10rem;
}

/*CIRCUITCAR*/

.morebtn {
    margin-left: 75%;
    margin-bottom: 1rem;
}

.circuitcard{
    margin-left: 3rem;

    
}
.circcards{
    margin-left: 3%;
}





/* MODAL*/
.modalbody{
    background-color: #00bfd8;
}
.modalreserve{
    background-color: #00bfd8;
    border-color: #00bfd8;
}
.modalclose{
    background-color: #8d8d8d;
    border-color: #8d8d8d;
}
.modalfooter{
    background-color:#2d3f3d;
}


/*ABOUT US*/
.jumboabout {
    background-color: #def6f9;

}
.abouth1{
    margin-bottom: 3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #31757c;
}
.videoaout{
    width: 60%;
}
.pabout{
    width: 40%;
    margin-left: 2rem;
    font-size: 25px;
}

 /* FOOTER*/